@import url("photographer.css");

body {
    width: 1400px;
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer_section article .location {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
}

.photographer_section article .tagline {
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-decoration: none;
    flex-wrap: wrap;
}

.photographer_section article .price {
    font-weight: 400;
    font-size: 9px;
    line-height: 17px;
    text-align: center;
    color: #757575;
}


/************************************************************* PHOTOGRAPHER *************************************************************************/

#folio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#folio a {
    text-decoration: none;
    color: inherit;
}

.img_folio {
    width: 300px;
}

.img_folio img {
    width: 300px;
    height: 350px;
}

#photographer-photo img {
    width: 200px;
    border-radius: 280px;
}

#photograph-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
}

.photographer-detail {
    display: flex;
    flex-direction: column;
}

#price {
    background-color: #901C1C;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 2px;
}