@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin: 0;
}

.photographer_section article img {
    height: 200px;
    width: 200px;
}

.photographer_section article .location {
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    color: #901C1C;
}

.photographer_section article .tagline {
    font-weight: 400;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #000000;
}

.photographer_section article a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    flex-wrap: wrap;
}

.photographer_section article a img {
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

.photographer_section article .price {
    font-weight: 400;
    font-size: 9px;
    line-height: 17px;
    text-align: center;
    color: #757575;
}


/************************************************************* PHOTOGRAPHER *************************************************************************/

.container {
    margin: 0 100px;
}

#folio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#folio a {
    text-decoration: none;
    color: inherit;
}

.img_folio {
    width: 350px;
    margin-bottom: 30px;
}

.img_folio img {
    width: 350px;
    height: 300px;
    border-radius: 5px;
}

.img_folio span {
    color: #901C1C;
}

.img_folio div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.img_folio i {
    padding-left: 5px;
}

#photographer-photo img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
    object-position: center;
}

#photograph-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    align-items: center;
    margin: 0 100px;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 50px;
}

.photographer-detail {
    display: flex;
    flex-direction: column;
}

#price {
    background-color: #DB8876;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
    border-radius: 2px;
}

#select {
    background-color: #901C1C;
    padding: 10px;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    border: 1px solid #901C1C
}

#select::selection {
    border: none;
}

#select:hover {
    background-color: #901C1C;
}

#select:after {
    background-color: #901C1C;
}

textarea#message {
    width: 100%;
    height: 130px;
    border: none;
    border-radius: 5px;
}

.photographer-detail h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    color: #D3573C;
    margin: 0 0 0 0;
}

.photographer-country {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 12px;
    color: #901C1C;
}

.select-title {
    font-weight: 700;
    font-size: 18px;
    padding-right: 15px;
}

.custom-select {
    padding: 30px 0;
}

.divider {
    font-size: 0.2px;
    background: rgba(220, 212, 217, 0.5);
}